[user]
	email = midhunukumar5@gmail,com
	name = Midhun Kumar
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[difftool]
	prompt = false
[alias]
	add-commit = !git add -A && git commit
	gs = !git status
